
section{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    /* width: 1345px; */
}
.boxes_info{
    width: 1345px;
 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box_info{
    width: 503px;
    height: 312px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3671px;
    position: relative;
    margin: 0 40px;
  
}
.box_info h3{
    /* width: 230px; */
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.box_info p{
    margin-top: 30px;
   text-decoration: underline;
}
.box_left{
    width: 290px;
    position: absolute;
    top: 15%;
    left: 5%;

}
.box_right{
    width: 290px;
    position: absolute;
    top: 25%;
    left: 5%;
 
}
.box_mission{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/Mission_blob.png");
    background-position: 85% 30%; 
    background-repeat: no-repeat; 
}

.mission_info{
    /* background-image: url("../../Images/Mission_blob.png");
    background-position: 50% -40%; 
    background-repeat: no-repeat;  */
    width: 100vw;
}
.mission_info h1{
    /* margin-top: 70px; */
    width: 300px;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    margin-bottom: 20px;
}
.mission_info p{
    width: 260px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.mission_phone{
    margin-top: 70px;
    width: 65%;
    object-fit: contain;
}
.mission_phone-small{
    display: none;
}
@media only screen and (max-width: 968px){
    .section_mission{
        max-width: 968px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .boxes_info{
        max-width: 668px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .box_info{
        width: 303px;
        height: 212px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 21.3671px;
        position: relative;
        margin: 10px;
    
    }
    .box_info h3{
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
    }
    .box_info p{
        margin-top: 30px;
        text-decoration: underline;
    }
    .box_left{
        width: 190px;
        position: absolute;
        top: 15%;
        left: 5%;

    }
    .box_right{
        width: 190px;
        position: absolute;
        top: 25%;
        left: 5%;
    }
    .box_mission{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .mission_info{
        position: absolute;
        top: 25%;
        left: 47%;
        width: 100vw; 
    }
    .mission_info h1{
        margin-top: 70px;
        width: 350px;
        font-weight: 700;
        font-size: 27px;
        line-height: 52px;
        margin-bottom: 20px;
    }
    .mission_info p{
        width: 260px;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
    }
    .mission_phone{
        display: block;
        width:  50%;
        margin-right: 56%;
       
      
    }
    .mission_phone-small{
         display: none;
    }

}
@media only screen and (max-width: 468px){
    .section_mission{
        max-width: 468px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .boxes_info{
        max-width: 468x;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin: 0 50px;
    }
    
    .box_info{
        width: 303px;
        height: 212px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 21.3671px;
        position: relative;
        margin: 10px;
    
    }
    .box_info h3{
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
    }
    .box_info p{
        margin-top: 30px;
        text-decoration: underline;
    }
    .box_left{
        width: 190px;
        position: absolute;
        top: 15%;
        left: 5%;

    }
    .box_right{
        width: 190px;
        position: absolute;
        top: 25%;
        left: 5%;
    }
    .box_mission{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../Images/Mission_blob.png");
        background-position: top left; 
        background-repeat: no-repeat; 
        margin: 0 50px;
    }
    
    .mission_info{
        width: 100vw;
        position: relative;
    }
    .mission_info h1{
        /* margin-top: 70px; */
        width: 350px;
        font-weight: 700;
        font-size: 27px;
        line-height: 52px;
        margin-bottom: 20px;
    }
    .mission_info p{
        width: 260px;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
    }
    .mission_phone{
       display: none;
    }
    .mission_phone-small{
        display: block;
        width: 75%;
        margin: 0 auto;
    }

}